@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Definir las variables CSS */
:root {
    --color-primary: #05a081;
    --color-primary-light: #85c1e9;
    --color-background: #f4f4f4;
    --color-text: #2c3e50;
    --color-border: rgba(255, 255, 255, 0.2);
    --color-shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}

#header {
    background-color: #ffffff;
    color: #00000090;
    padding: 0px 4px; /* Reducir el padding para dar más espacio */
    box-shadow: 0 2px 5px var(--color-shadow);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    color: #00000090;
    padding-left: 40px;
    font-size: 1.5rem;
    font-weight: bold;
}

#header nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    margin: 0;
    padding: 0;
    list-style: none;
}

#header nav ul li {
    margin: 0 10px;
}

#header nav ul li a {
    color: #00000090;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

#header nav ul li a:hover,
#header nav ul li a.active {
    color: var(--color-primary); /* Color primario para el enlace activo */
}

#container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

#main-content {
    margin-top: 20px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    border-left: 6px solid var(--color-primary);
    border-right: 6px solid var(--color-primary);
    padding: 20px;
    box-shadow: 0 4px 8px var(--color-shadow);
    border-radius: 10px;
}

#contact-us {
    padding: 5rem;/* Agregar margen superior para separar del header */
    max-width: 1000px;
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
}

#contact-us h1 {
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 500px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--color-text);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--color-shadow);
    font-size: 1rem;
    color: var(--color-text);
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--color-primary);
    outline: none;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px var(--color-shadow);
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--color-primary-light);
    transform: translateY(-5px);
}

.footer-content {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 20px;
    box-shadow: 0 -2px 5px var(--color-shadow);
}

@media (max-width: 768px) {
    #contact-us {
        padding: 2rem;
    }

    #header .logo {
        padding-left: 20px;
    }

    #header nav ul {
        flex-direction: row;
        justify-content: center;
    }

    #header nav ul li {
        margin: 0 5px;
    }

    #main-content {
        padding: 10px;
    }
}

@media (max-width: 490px) {
    #header nav ul li a {
        font-size: 12px;
    }

    #contact-us {
        padding: 1rem;
    }

    .form-group {
        width: 100%;
        max-width: 100%;
    }
}
