.photo {
  display: block;
  margin: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; /* Asegurar que las fotos estén detrás del sidebar */
}

.photo img {
  display: block;
  width: 100%;
  height: auto; /* Mantener la proporción de la imagen */
  object-fit: cover;
  transition: opacity 0.2s, transform 0.3s;
  animation: fadeIn 1s ease-in-out;
  opacity: 0; /* Inicialmente ocultar la imagen */
}

.photo img.lazy-loaded {
  opacity: 1; /* Mostrar la imagen cuando se haya cargado */
  transition: opacity 0.5s ease-in-out; /* Añadir una transición suave */
}

.photo:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.photo:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}

.photo:active {
  transform: scale(0.98);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #ccc;
}

.column {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.gallery {
  column-count: 6; 
  column-gap: 20px;
  margin-left: 270px; 
  margin-top: 100px; 
}

.gallery img {
  animation: fadeIn 1s ease-in-out;
}

@media only screen and (max-width: 1400px) {
  .gallery {
    column-count: 5; 
  }
}

@media only screen and (max-width: 1200px) {
  .gallery {
    column-count: 4; 
  }
}

@media only screen and (max-width: 1000px) {
  .gallery {
    column-count: 3; 
  }
}

@media only screen and (max-width: 768px) {
  .gallery {
    column-count: 2;
  }

  .photo {
    margin: 5px; 
    z-index: 1; /* Asegurar que las fotos estén detrás del sidebar */
  }

  .photo img {
    width: 100%; /* Cambiar el tamaño de las imágenes */
  }

  header, .sidebar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    z-index: 2; /* Asegurar que el header y sidebar estén por delante de las fotos */
  }

  .content {
    margin-top: 20px; /* Ajustar el margen superior del contenido */
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    column-count: 2;
    width: 100%;
    margin: 0 auto;
    padding-top: 30%;
    margin-top: 20px; /* Ajustar el margen superior para que las fotos no queden debajo del sidebar */
  }
  
  .photo {
    margin-left: 10px; 
    z-index: 1; /* Asegurar que las fotos estén detrás del sidebar */
  }
}

@media only screen and (max-width: 490px) {
  .gallery {
    column-count: 2;
    width: 100%;
    margin: 0 auto;
    padding-top: 50%;
    margin-top: 20px; /* Ajustar el margen superior para que las fotos no queden debajo del sidebar */
  }
  
  .photo {
    margin-left: 10px; 
    z-index: 1; /* Asegurar que las fotos estén detrás del sidebar */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-top: 10px solid var(--color-primary);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 20px 18px;
  user-select: none;
  padding-top: 40px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.1);
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  position: absolute;
  top: -2px;
  right: -1px;
  font-size: 36px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.close:hover {
  color: #ccc ;
}

.download-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.download-options label {
  margin-right: 10px;
}

.download-btn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #ffffff20;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #0056b3;
}

svg {
  fill: #e8eaed;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 8px;
  transition: fill 0.3s ease;
}

.download-btn:hover svg {
  fill: #ffffff;
}

.close svg {
  fill: #e8eaed;
  width: 32px;
  height: 32px;
  transition: fill 0.3s ease;
}

.close:hover svg {
  fill: #ccc;
}

