#header {
  background-color: #ffffff;
  padding: 8px 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

#header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#header nav ul li {
  margin: 0 10px;
}

#header nav ul li a {
  text-decoration: none;
  color: #00000090;
  transition: color 0.2s;
}

#header nav ul li a:hover,
#header nav ul li a.active {
  color: var(--color-primary);
}

#header nav ul li a.active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary); /* Agregar borde inferior para la sección activa */
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0rem;
}

header h1 {
  margin: 30px;
  flex-grow: 1;
  text-align: center;
}

header ul {
  flex-grow: 1;
  margin: 2px;
  padding: 0;
  list-style: none;
  display: flex;  
  align-items: center;
  justify-content: center;
}

header ul li a {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  margin: 20px;
  color: #00000090;
  transition: color 0.4s, border-bottom-color 0.4s;
  border-bottom: 2px solid transparent; 
}

header ul li a:hover, header ul li a.active {
  color: var(--color-primary);
  border-bottom-color: var(--color-primary); 
}

.pix {
  color: var(--color-primary);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger .rotate1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger .hide {
  opacity: 0;
}

.hamburger .rotate2 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.hamburger svg {
  fill: #000;
  width: 30px;
  height: 30px;
  transition: fill 0.4s;
}

.hamburger svg:hover {
  fill: var(--color-primary);
}

@media only screen and (min-width: 1200px) {
  header h1 {
    text-align: left;
  }
  header ul {
    justify-content: flex-end ;
  }
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 14px 0px;
  }

  #header .logo {
    margin-bottom: 10px;
  }

  #header nav ul {
    flex-direction: column;
    align-items: center;
    display: none; /* Ocultar el menú por defecto */
  }

  #header nav ul.show {
    display: flex; /* Mostrar el menú cuando se active */
  }

  .hamburger {
    display: flex; /* Mostrar el botón de menú hamburguesa */
  }
}

@media only screen and (max-width: 490px) { 
  #header nav ul li a {
    font-size: 12px;
  }
}