#sidebar {
  background-color: #f9f9f9;
  padding: 30px;
  height: calc(100vh - 60px);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  margin-top: 3.4rem;
  top: 60px; 
  left: 0;
  width: 250px; 
  overflow-y: auto; 
  border-left: 6px solid var(--color-primary);
}

#sidebar ul {
  padding: 0 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sidebar ul li {
  margin: 5px;
  font-size: 1.2rem;
  width: 100%;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

#sidebar ul li a {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  color: #00000090;
  transition: all 0.2s;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

@media only screen and (max-width: 600px) {
  #sidebar {
    padding: 6px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50px; /* Asegura que el sidebar esté justo debajo del header */
    margin-top: 0; /* Elimina el margen superior */
    z-index: 100;
    padding: 2px;
  }

  #sidebar ul {
    flex-direction: row;
    justify-content: center;
  }

  #sidebar ul li {
    width: auto;
    padding-bottom: 5px;
  }
  #sidebar ul li a {
    margin-top: 30px ;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 515px) {
  #sidebar {
    top: 10px; /* Asegura que el sidebar esté justo debajo del header */
    padding-bottom: 10px;
  }
  #sidebar ul li a {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 490px) {
  #sidebar {
    width: 100%;
    height: auto;
    top: 60px; /* Asegura que el sidebar esté justo debajo del header */
    margin-top: 40px; /* Elimina el margen superior */
    z-index: 100;
  }

  #sidebar ul {
    flex-direction: row;
    justify-content: center;
  }

  #sidebar ul li {
    margin: 5px;
    font-size: 0.7rem;
    margin-left: 4px;
    width: auto;
    padding-bottom: 5px;
  }

  #sidebar ul li a {
    margin-top: 10px;
  }
}

#todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#todos .photo {
  margin: 5px;
  flex: 1 1 calc(33.333% - 10px); /* Ajusta el tamaño de las fotos para que se distribuyan en 3 columnas */
}

@media only screen and (max-width: 600px) {
  #todos .photo {
    flex: 1 1 calc(50% - 10px); /* Ajusta el tamaño de las fotos para que se distribuyan en 2 columnas en pantallas pequeñas */
  }
}

@media only screen and (max-width: 400px) {
  #todos .photo {
    flex: 1 1 calc(100% - 10px); /* Ajusta el tamaño de las fotos para que se distribuyan en 1 columna en pantallas muy pequeñas */
  }
}





