.photo {
    display: inline-block;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo img {
    display: block;
    width: 100%;
    height: auto;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
